{# templates/user/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Afficher les utilisateurs{% endblock %}

{% block body %}
<h1>Liste des utilisateurs</h1>

<ul>
    {% for user in users %}
        <li>
            {{ user.nom }} {{ user.prenom }}
            <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?')">Supprimer</a>
        </li>
    {% else %}
        <li>Aucun utilisateur trouvé.</li>
    {% endfor %}
</ul>

{% endblock %}
